// core overrides
$spacer: 1.5rem;
$navbar-padding-x: $spacer;
$navbar-height: 66px !default;
$navbar-bg: #ffffff !default;
$navbar-border: none !default;
$navbar-brand-width: auto !default;
$navbar-brand-bg: transparent !default;
// $navbar-brand-logo:                   url('../img/logo.png') !default;
$navbar-brand-logo: #ffffff !default;
$navbar-brand-logo-size: 45px auto !default;
$navbar-brand-border: none !default;

$navbar-brand-minimized-width: 45px !default;


// app-footer
$footer-bg: #262626;
$footer-color: #FFFFFF;
$footer-borders: none;

$footer-height: 130px;