$navbar-hover-color: $gray-200 !default;
$navbar-active-color: $gray-200 !default;
$sidebar-nav-link-hover-bg: theme-color("warning") !default;
$sidebar-nav-link-active-icon-color: theme-color("warning") !default;

