.para-section {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-flow: nowrap;
  margin: 70px auto;
}
.section-header-ctn {
  min-width: 30%;
  display: flex;
  flex-flow: column;
}
// 适配手机
@media (max-width: 991px) {
  .para-section {
    flex-flow: wrap;
    padding-left: 15px;
    padding-right: 15px;
  }
  .section-header-ctn {
    min-width: 100%;
  }
}


.ql-snow .ql-editor h1,
.para-section h1 {
  color: #010101;
  font-size: 20px;
  font-size: 1.8rem;
  line-height: 1;
  font-weight: bold;
}

.ql-snow .ql-editor h2,
.para-section h2 {
  color: #919191;
  font-size: 1.2rem;
  // font-size: 0.56rem;
  line-height: 2;
  font-style:italic;
}

.ql-snow .ql-editor p,
.para-section p {
  color: #606060;
  font-size: 0.875rem;
  line-height: 1.7;
}



a {
  // transition: all 100ms cubic-bezier(1, 0.3, 0, 0.7);
  transition: all 200ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  &.title-nav-item {
    cursor: pointer;
    opacity: 0.6;
    font-weight: bold;

    color: #010000;
    font-size: 1.25rem;
    line-height: 0.8;
  }
  &.sub-title-nav-item {
    color: #5E5E5E;
    font-style: italic;
    font-size: 0.91rem;
  }
}

.custom-active {
  opacity: 1;
  .title-nav-item {
    opacity: 1;
    font-size: 1.8rem;
    padding: 4px 0;
    padding-left: 6px;
    color: #010000;
  }
  .sub-title-nav-item {
    opacity: 1;
    font-size: 1.125rem;
    padding: 4px 0;
    padding-left: 0;
    color: #010000;
    // margin-top: 4px;
  }
}

// margin
.first-menu-item {
  margin-top: 3.2rem;
  &:first-child {
    margin-top: 0;
  }
}
.menu-ctn ul {
  padding-left: 22px;
  border-left: 2px #D7D7D7 solid;
}
// list style
ul li.first-menu-item {
  list-style-type:none;
  list-style: none;

  position: relative;
  &::before {
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: #d7d7d7;
    border-radius: 50%;

    content: '';

    left: -31px;
  }
  &.custom-active::before {
    background-color: #010000;
    width: 24px;
    height: 24px;
    left: -35px;
    // width: 32px;
    // height: 32px;
    // left: -40px;
  }
}
ul li.sub-menu-item {
  list-style: none;
}

.ql-editor .el-carousel ul>li::before {
  content: none;
}
.el-carousel__indicators {
 display: flex;
 justify-content: flex-end;
 button.el-carousel__button {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #D7D7D7;
 }
 .el-carousel__indicator {
  padding: 8px!important;
 }
 .el-carousel__indicator.is-active button.el-carousel__button {
   background-color: #000000;
   opacity: 1;
 }
}
.el-carousel__container {
  background-color: rgba(215, 215, 215, 0.2);
}
.el-carousel__item {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
}
.para-image {
  text-align: center;
}

.proj-content button:focus {
  outline: none;
  box-shadow: 0 0 0 6px rgba(0, 0, 0, 0.15);
}